<nav>
  <ul>
    <li><a href="/catalog">Home</a></li>
    <li><a href="/catalog/cars">All cars</a></li>
    <li><a href="/catalog/manufacturer">All manufacturer</a></li>
    <li><a href="/catalog/bodystyles">All bodystyles</a></li>
    <li><a href="/catalog/carinstances">All car instances</a></li>
    <hr />
    <li><a href="/catalog/cars/create">Create new car</a></li>
    <li><a href="/catalog/manufacturers/create">Create new manufacturer</a></li>
    <li><a href="/catalog/bodystyles/create">Create new bodystyle</a></li>
    <li><a href="/catalog/carinstances/create">Create new car instance</a></li>
  </ul>
</nav>
