<h1><%=title %></h1>
<ul>
  <%if (content.length > 0) {%> <% content.map((car) => { %>
  <li>
    <a href="/catalog/cars/<%-car.id%>"><%=car.name%></a>
    (<%=car.manufacturer%>)
  </li>
  <% })%> <% } else { %>
  <li>There are no cars.</li>
  <% } %>
</ul>
